:root {
    --clr-primary: #fff;
    --clr-secondary: #2f56a5;
    --clr-terciary: #8fafcf;
    --fnt-title: 'Oswald', sans-serif;
    --fnt-title2: 'Roboto Slab', serif;
    --fnt-content: 'Libre Baskerville', serif;
}

.categorie {
    display: flex;
    width: 100%;
    height: 100vh;
}

.categorie--size {
    position: relative;
    height: 50%;
}

.categorie__adults {
    background: linear-gradient(to top, rgba(66, 98, 155, 0.8), rgba(47, 75, 138, 0.9)), url(../assets/img/index-banner-left.jpg) no-repeat;
    background-size: cover;
}

.wrapper {
    position: absolute;
    width: 50%;
    padding: 0.5rem 1rem;
    margin: 2rem 0;
    background-color: #FFF;
}

.wrapper--left {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.wrapper--right {
    right: 0;
    bottom: 0;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.categorie__description {
    font-size: 24px;
    font-weight: 300;
}

.categorie__description--colorBlue {
    font-family: var(--fnt-content);
    font-style: italic;
    text-align: end;
    color: #2F56A5;
}

.categorie__description--colorGreen {
    font-family: var(--fnt-title2);
    color: #4BBDA3;
}

.textBox {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    top: 45%;
    z-index: 1;
}

.text-signature {
    font-size: 4rem;
    font-family: 'Sacramento', cursive;
}

.text-name {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.text-colorWhite {
    color: #FFF;
}

.categorie__kids {
    background: linear-gradient(to top, rgba(83, 176, 148, 0.8), rgba(140, 205, 162, 0.9)), url(../assets/img/index-banner-right.jpg) no-repeat;
    background-size: cover;
}

.categorie__content {
    display: none;
}

@media only screen and (min-width: 768px) {
    /* --Index.css-- */
    .categorie {
        flex-direction: row;
    }
    .categorie--size {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding-bottom: 8rem;
        width: 50%;
        height: 100%;
    }
    .wrapper {
        position: relative;
        left: 25%;
        border-radius: 18px;
    }
    .categorie__description {
        font-weight: 300;
        text-align: center;
    }
    .textBox {
        top: 20%;
    }
    .categorie__kids {
        background-position: center;
    }
    .categorie__content {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .categorie__content>a {
        padding: 0 1rem;
    }
}

@media only screen and (min-width: 1024px) {
    .categorie--size>a {
        display: flex;
        justify-content: center;
    }
    .wrapper {
        width: 100%;
        left: 0;
    }
    .categorie__content>a>img {
        width: 84px;
        height: 131px;
    }
}

@media only screen and (min-width: 1440px) {}
